/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.navbar-nav {
		text-align: center;
		background: #353854;
	}
	.social-nav .navbar-nav {
		flex-direction: row;
		justify-content: center;
		padding: 15px 0;
	}
	#banner {
		text-align: center;
	}
	.banner-content {
		padding-top: 100px;
	}
	.banner-content h2 {
		font-size: 32px;
		line-height: 35px;
	}
	.banner-content p {
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 15px;
	}
	a.custom-btn {
		padding: 12px 25px;
		font-size: 15px;
	}
	.banner-img img {
		width: 100%;
	}
	.banner-img {
		padding-top: 20px;
	}
	.go-bottom a {
		display: none;
	}
	.title h2 {
		font-size: 32px;
		line-height: 50px;
	}
	#feature {
		padding: 40px 0;
	}
	.feature-component {
		margin-top: 50px;
		margin-bottom: 0px;
	}
	.feature-content p {
		font-size: 14px;
	}
	.feature-content {
		padding-bottom: 25px;
	}
	.slider-weather {
		margin-top: 90px;
	}
	#side1 {
		width: 80px;
	}
	#side2 {
		width: 80px;
	}
	#side3 {
		width: 80px;
	}
	#pre {
		left: 140px;
		margin-top: 200px;
		top: 100%;
	}
	#nex {
		margin-top: 200px;
		right: 140px;
		top: 100%;
	}
	#pre i, #nex i {
		font-size: 20px;
		margin-top: 20px;
	}
	#screenshot {
		margin-top: 200px;
		text-align: center;
	}
	.cloudy-right-content h2 {
		font-size: 30px;
	}
	.cloudy-right-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.sunny-left-content h2 {
		font-size: 30px;
	}
	.sunny-left-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.mbl-res{
		margin-top: 40px;
	}
	.review-element {
		margin-top: 60px;
	}
	.review-element p {
		font-size: 15px;
		line-height: 26px;
	}
	#app-download {
		text-align: center;
	}
	.app-left-content {
		padding-bottom: 30px;
	}
	.app-left-content h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.app-left-content p {
		font-size: 16px;
	}
	.app-right-content {
		height: 240px;
	}
	.copyright {
		text-align: center;
	}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-nav {
		text-align: center;
		background: #353854;
	}
	.social-nav .navbar-nav {
		flex-direction: row;
		justify-content: center;
		padding: 15px 0;
	}
	#banner {
		text-align: center;
	}
	.banner-content {
		padding-top: 100px;
	}
	.banner-content h2 {
		font-size: 32px;
		line-height: 35px;
	}
	.banner-content p {
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 15px;
	}
	a.custom-btn {
		padding: 12px 25px;
		font-size: 15px;
	}
	.banner-img img {
		display: none;
	}
	.banner-img {
		padding-top: 20px;
	}
	.go-bottom a {
		display: none;
	}
	.title h2 {
		font-size: 32px;
		line-height: 50px;
	}
	#feature {
		padding: 40px 0;
	}
	.feature-component {
		margin-top: 50px;
		margin-bottom: 0px;
	}
	.feature-content p {
		font-size: 14px;
	}
	.feature-content {
		padding-bottom: 25px;
	}
	.slider-weather {
		margin-top: 90px;
	}
	#side1 {
		width: 80px;
	}
	#side2 {
		width: 80px;
	}
	#side3 {
		width: 80px;
	}
	#pre {
		left: 140px;
		margin-top: 200px;
		top: 100%;
	}
	#nex {
		margin-top: 200px;
		right: 140px;
		top: 100%;
	}
	#pre i, #nex i {
		font-size: 20px;
		margin-top: 20px;
	}
	#screenshot {
		margin-top: 200px;
		text-align: center;
	}
	.cloudy-right-content h2 {
		font-size: 30px;
	}
	.cloudy-right-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.sunny-left-content h2 {
		font-size: 30px;
	}
	.sunny-left-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.mbl-res{
		margin-top: 40px;
	}
	.review-element {
		margin-top: 60px;
	}
	.review-element p {
		font-size: 15px;
		line-height: 26px;
	}
	#app-download {
		text-align: center;
	}
	.app-left-content {
		padding-bottom: 30px;
	}
	.app-left-content h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.app-left-content p {
		font-size: 16px;
	}
	.app-right-content {
		height: 240px;
	}
	.copyright {
		text-align: center;
	}
}

/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-nav {
		text-align: center;
		background: #353854;
	}
	.social-nav .navbar-nav {
		flex-direction: row;
		justify-content: center;
		padding: 15px 0;
	}
	#banner {
		height: 61vh;
	}
	.banner-content {
		padding-top: 150px ;
	}
	.banner-content h2 {
		font-size: 40px;
		line-height: 45px;
	}
	.banner-content p {
		margin-bottom: 20px;
		font-size: 15px;
	}
	a.custom-btn {
		padding: 15px 35px;
	}
	.banner-img {
		padding-top: 0px;
	}
	.banner-img img {
		width: 100%;
	}
	.go-bottom a {
		bottom: 40px;
	}
	.feature-content h2 {
		font-size: 20px;
	}
	.feature-content p {
		font-size: 15px;
	}
	.cloudy-right-content h2 {
		font-size: 34px;
	}
	.cloudy-right-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.sunny-left-content h2 {
		font-size: 34px;
	}
	.sunny-left-content p {
		font-size: 15px;
		line-height: 26px;
	}
	.review-element p {
		font-size: 18px;
		line-height: 26px;
	}
	#app-download {
		padding-top: 40px;
	}
	.app-left-content h2 {
		font-size: 24px;
	}
	.app-left-content p {
		font-size: 15px;
	}
	.app-right-content {
		height: 240px;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/* // Ipad Pro or Ipad Landscape display only */
@media only screen and (width: 1024px){
	#banner {
		height: 90vh;
	}
	.banner-content h2 {
		font-size: 52px;
		line-height: 54px;
	}
	.banner-img img {
		width: 100%;
	}
	.go-bottom a {
		bottom: 80px;
	}
	.feature-content h2 {
		font-size: 22px;
	}
	.cloudy-right-content p {
		font-size: 20px;
	}
	.sunny-left-content p {
		font-size: 20px;
	}
	.review-element p {
		font-size: 20px;
	}
	#app-download {
		padding-top: 60px;
	}
	.app-left-content h2 {
		font-size: 30px;
	}
	.app-right-content {
		height: 250px;
	}
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}